


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>

    <title>Miroslav Zeljkovic Site</title>
<!--    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">-->

    <link rel="icon" href="favicon.ico"/>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&amp;family=Montserrat&amp;family=Sacramento&amp;display=swap"
          rel="stylesheet">

</head>
<body>

{% import "bootstrap/wtf.html" as wtf %}
<h1>Унесите податке за путни налог: </h1>
<div>
    {{ wtf.quick_form(prenesiUHTML, novalidate=True, button_map={"submit": "primary"}) }}
</div>
<hr>
<div>
    <a href="/pregled_baze"> Иди на претрагу базе путних налога</a>
</div>
</body>
</html>
